@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "TT Interfaces", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #292826;
  color: #e6e6e6;
}

.app {
  min-height: 100vh;
}
